/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html, body{
	height: 100%;
	background: #f9f9f9;
}
a{
	text-decoration: none;
	display: block;

}
.main{
	width: 1060px;
	height: 100%;
	margin: 0 auto;
	 overflow: auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);

}
/*HEADER*/
header{
	padding: 50px 45px 40px;
}

menu{
	height: 40px;
	margin: 40px 0 0 0;
	background-image: -webkit-linear-gradient(left, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background-image: -o-linear-gradient(left, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	background-image: linear-gradient(to right, rgb(68,67,67) 0%, rgb(94,94,94) 100%);

}

menu ul{
	height: 40px;

}
menu ul li{
	width: 101px;
	height: 100%;
	margin-right: 25px;
	display: inline-block;
	text-align: center;
	
}
menu ul li a{
	font-size: 14.667px;
	font-family: "Open Sans";
	color: #fff;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
	line-height: 40px;
}
menu ul li:hover{
	background: url(../img/hover.png);
}
/*NAVIGATION*/
nav{
	float: left;
	padding-left:45px;

}
nav ul{
	width: 240px;
	height: 240px;
	border: 1px solid #c8c8c8; 
}
nav ul li{
	height: 39px;
	padding-left: 23px;
	border-bottom: 1px solid #c8c8c8; 

}
nav ul li:last-child{
	border-bottom: none;
}
nav ul li a{
	line-height: 40px;
	font-size: 13.333px;
	font-family: "Open Sans";
	color: rgb(101, 99, 99);
 }
 nav ul li:hover{
	padding-left: 32px;
	background: #f9f9f9;
 }
 /*CONTENT*/
 .content{
 	overflow: hidden;
 	padding-right: 45px;
 }
 .content img{
 	float: right;
 	width: 676px;
 	height: 398px;
 	margin-bottom: 40px;
 	border: 1px solid #c8c8c8;
 }

 .content p{
 	padding-left: 72px;
 	margin-bottom: 60px;
 	width: 629px;
 	font-size: 13.333px;
	font-family: "Open Sans";
	color: #2c2c2c;
	line-height: 1.6;
}
/*FOOTER*/
footer{
	padding: 0 45px 40px;

}
footer ul{
	overflow: hidden;
	height: 40px;
	background: #e1e1e1;
	
}
footer ul li{
	width: 144px;
	height: 100%;	
	display: inline-block;
	text-align: center;

}
footer ul li:last-child{
	width: 200px;
	float: right;
	line-height: 40px;
	font-size: 13.333px;
	font-family: "Open Sans";
	color: rgb(44, 44, 44);
}
footer ul li a{
	line-height: 40px;
	font-size: 13.333px;
	font-family: "Open Sans";
	color: rgb(44, 44, 44);
}
footer ul li a:hover{
	text-decoration: underline;
}